---
layout: default
---

<article>

<h1 class="entry-title">{{ page.title }}</h1> 

<!-- Post Content -->
<div class="article-content">
	{{content}}
</div>
<br>


tags :
{% for tag in page.tags %}
<kbd><a href="{{ site.baseurl }}/tags.html#{{ tag | slugify }}"> {{ tag }} </a></kbd>
{% endfor %}

in category 
<kbd><a href="{{ site.baseurl }}/{{ page.categories[0] | downcase  }}.html"> {{ page.categories[0] | capitalize }} </a></kbd><br>
</article>




<aside class="related">
  <h2>Related :</h2>
  <ul>
{% for tag in page.tags %}
	 {% for post in site.posts limit:5 %}
		 {% if post.tags contains tag %}
		 <article class="row">
      <li class="article-title">
        <a class="article-link" href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title|striptags }}">{{ post.title }}</a>
      </li>
      </article>   
		 {% endif %}
	 {% endfor %}
{% endfor %}

  </ul>
</aside>





